<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<!-- <link rel="stylesheet" href="../public/stylesheets/bootstrap-grid.min.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Su código va aquí -->
	<div id="mainApp" class="container-fluid">
		<header>
			<div class="container-fluid">
				logo
			</div>
			<div class="container-fluid">
				menu
			</div>
		</header>
		<section class="banner">
			<div class="container-fluid">
				banner
			</div>
		</section>
		<section>
			<div class="container-fluid">
				texto visita
			</div>
		</section>
		<section class="articulos">
			<div class="container-fluid">
				articulo 1
			</div>
			<div class="container-fluid">
				articulo 2
			</div>
			<div class="container-fluid">
				articulo 3
			</div>
			<div class="container-fluid">
				articulo 4
			</div>
			<div class="container-fluid">
				articulo 5
			</div>
			<div class="container-fluid">
				articulo 6
			</div>
			<div class="container-fluid">
				articulo 7
			</div>
			<div class="container-fluid">
				articulo 8
			</div>
		</section>
		<section>
			<div class="container-fluid">
				Medio
			</div>
			<div class="container-fluid">
				Envio
			</div>
			<div class="container-fluid">
				Seguridad
			</div>
		</section>
		<footer>
			<div class="container-fluid">
				Copyright &copy 1999-2019 MercadoLiebre S.R.L.
			</div>
		</footer>
	</div>

</body>
</html>