body {
  padding: 0;
  margin: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #00B7FF;
}

#mainApp {
  background-color: aquamarine;
}

a {
  color: #00B7FF;
}
